/* Estilos extraídos de templates/quiz.html */

body {
    background-color: #00166d;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    padding-bottom: 200px;
}

.info-esquerda {
    position: fixed;
    top: 42px;
    left: 90px;
    font-weight: bold;
    font-size: 1rem;
    background-color: #3d4b83;
    padding: 10px 16px;
    border-radius: 15px;
    color: white;
}

.info-direita {
    position: fixed;
    top: 70px;
    right: 110px;
    display: flex;
    gap: 20px;
    font-size: 1.1rem;
    font-weight: bold;
}
        
.info-direita span {
    background-color: #1f3179;
    padding: 10px 16px;
    border-radius: 15px;
    color: white;
}

.enunciado-centro {
    position: fixed;
    top: 30%;
    left: 140px;
    transform: translateY(-50%);
    width: 40%;
    text-align: left;
    font-weight: bold;
    font-size: 1.3rem;
}

.alternativas-container {
    position: fixed;
    top: 52%;
    right: 110px;
    transform: translateY(-50%);
    width: 30%;
}

.alternativas-container label {
    display: block;
    background-color: #4c4da9;
    border-radius: 30px;
    color: white;
    padding: 18px 24px;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.alternativas-container label:hover {
    background-color: #4533a5;
}

.alternativas-container input[type="radio"] {
    display: none;
}

.alternativas-container input[type="radio"]:checked + label {
    background-color: #2f00ff;
}

.questao {
    display: none;
}

.questao.active {
    display: block;
}

.btn-responder {
    background-color:  #0e2aff;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 14px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    min-width: 140px;
    transition: background-color 0.3s;
}

.btn-sair {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 14px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    min-width: 110px;
    transition: background-color 0.3s;
}

.btn-responder:hover {
    background-color: #0213ff;
}

.btn-sair:hover {
    background-color: #c90202;
}

hr {
    display: none;
}

.botoes-container {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.btn-voltar {
    background-color: #3d4b83;
}

.btn-finalizar {
    display: none;
    background-color: #0e2aff;
}


