body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* CABEÇALHO */
header {
  background-color: #001f87;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 2px solid #e0e0e0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.logo img {
  height: 40px;
}


/* ====== CONTAINER PRINCIPAL ====== */
h2 {
    margin-top: 30px;
    font-size: 2rem;
    color: #004aad; 
}

p {
    font-size: 1.1rem;
    margin: 5px 0;
}

/* ====== BOTÕES ====== */
button {
    background-color: #004aad; 
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
    font-size: 1rem;
    cursor: pointer;
    margin: 8px;
    transition: all 0.2s ease;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

button:hover {
    background-color: #00337a;
    transform: translateY(-2px);
}

/* Corrige link dentro do botão */
button a {
    text-decoration: none;
    color: white;
}

/* ====== GABARITO ====== */
#gabarito {
    display: none;
    margin-top: 25px;
    width: 90%;
    max-width: 800px;
}

/* Cada questão */
.gabarito-item {
    background: white;
    border-left: 6px solid #00337a; /* verde lateral */
    padding: 12px 16px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

#gabarito strong {
    color: #4b4b4b;
}

.gabarito-item span {
    font-weight: bold;
}

.texto-acerto {
    color: #2e7d32;
}

.texto-erro {
    color: #c62828;
}

.btn-gabarito {
    margin-top: 10px;
}
