<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Questão</title>
</head>
<body>
    <h2>Editar Questão</h2>

    <form method="POST">
        <label>Enunciado:</label><br>
        <textarea name="enunciado" required>{{ questao[0] }}</textarea><br><br>

        <label>Nível de dificuldade:</label><br>
        <select name="nivel_id" required>
            {% for nivel in niveis %}
                <option value="{{ nivel[1] }}" {% if nivel[1] == questao[1] %}selected{% endif %}>
                    {{ nivel[0] }}
                </option>
            {% endfor %}
        </select><br><br>

        <label>Assunto:</label><br>
        <select name="assunto_id" required>
            {% for assunto in assuntos %}
                <option value="{{ assunto[1] }}" {% if assunto[1] == questao[2] %}selected{% endif %}>
                    {{ assunto[0] }}
                </option>
            {% endfor %}
        </select><br><br>

        <label>Alternativas:</label><br>
        {% for alt in alternativas %}
            {% set i = loop.index %}
            <input type="text" name="alternativas" value="{{ alt[1] }}" required><br>
        {% endfor %}

        <label>Índice da alternativa correta (1 a {{ alternativas|length }}):</label><br>
        {% for alt in alternativas %}
            {% set i = loop.index %}
            {% if alt[2] == 1 %}
                <input type="number" name="correta_index" value="{{ i }}" required><br><br>
            {% endif %}
        {% endfor %}


        <button type="submit">Salvar Alterações</button>
    </form>

    <form method="POST" action="{{ url_for('excluir_questao', questao_id=questao_id) }}" onsubmit="return confirm('Tem certeza que deseja excluir esta questão?')">
        <button type="submit" style="margin-top: 20px; background-color: red; color: white;">Excluir Questão</button>
    </form>

    <a href="{{ url_for('index_professor') }}">Voltar</a>
</body>
</html>
