<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Início do Professor</title>
    <link rel="stylesheet" href="static/professor.css"/>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="static/img/Logo.png" alt="Logo EduQuiz">
            <span>EDUQUIZ</span>
        </div>
        <nav>
            <a href="{{ url_for('logout') }}">
                <img src="static/img/casa.png" alt="Ícone de logout" style="width: 30px;">
            </a>
        </nav>
    </header>


    <main>
        <h1>Olá, {{ nome }}!</h1>
        <button class="btn-iniciar">Gerenciar questões</button>

        <div class="botoes-secundarios">
            <a href="{{ url_for('adicionar_materiais') }}" class="btn-secundario">

                <span class="icone"></span> Gerenciar Materias
            </a>
            <a href="#" class="btn-secundario">
                <span class="icone"></span> Relatório de alunos
            </a>
        </div>

        <button class="btn-sair" onclick="location.href='{{ url_for('logout') }}'">Sair</button>
    </main>

<!-- Modal Gerenciar Questões -->
<div id="modalGerenciar" class="modal">
  <div class="modal-content">
    <h2>Gerenciar questões</h2>

    <select>
      <option disabled selected>Dificuldade</option>
      <option>Fácil</option>
      <option>Médio</option>
      <option>Difícil</option>
    </select>

    <select>
      <option disabled selected>Filtrar por assunto</option>
    </select>

    <input type="text" placeholder="Digite o enunciado da questão...">
    <input type="text" placeholder="Digite as alternativas...">

    <select>
      <option disabled selected>Selecione a alternativa correta</option>
    </select>

    <button class="btn-editar">Editar</button>

    <div style="display: flex; justify-content: space-between;">
      <button class="btn-voltar" onclick="fecharModal()">Voltar</button>
      <button class="btn-concluir">Concluir</button>
    </div>
  </div>
</div>


<script src="static/js/quiz.js"></script>

</body>
</html>
