<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='adm.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="Logo EduQuiz">
            <span>EDUQUIZ</span>
        </div>
    </header>

    <h1>Bem-vindo, {{ nome }} (ADM)</h1>

    <ul>
        <li><a href="{{ url_for('gerenciar_usuarios') }}">Gerenciar Usuários</a></li>
        <br>
        <li><a href="{{ url_for('gerenciar_materiais') }}">Gerenciar Materiais</a></li>
        <br>
        <li><a href="{{ url_for('gerenciar_questoes_adm') }}">Gerenciar Questões</a></li>
    </ul>

    <button class="btn-sair" onclick="location.href='{{ url_for('logout') }}'">Sair</button>
</body>
</html>
