<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado do Quiz</title>
    <link rel="stylesheet" href="/static/resultado.css">
</head>
<body>

    <header>
        <div class="logo">
            <img src="static/img/Logo.png">
            <span>EDUQUIZ</span>
        </div>
        <nav>
           <a href="{{ url_for('ajudaAluno') }}" class="btn-ajuda">Ajuda</a>
        </nav>
    </header>



    <h2>Resultado do Quiz</h2>

    <!-- NOVO: exibe dificuldade -->
    <p><strong>Dificuldade:</strong> {{ nivel_descricao }}</p>

    <p><strong>Total de questões:</strong> {{ total }}</p>
    <p><strong>Acertos:</strong> {{ acertos }}</p>
    <p><strong>Erros:</strong> {{ erros }}</p>

    <hr>

    <button onclick="toggleGabarito()" class="btn-gabarito">Ver Gabarito</button>

    <div id="gabarito">
      <h3>Gabarito</h3>
      {% for enunciado, resposta_marcada, resposta_correta, correta in resultados %}
        <div class="gabarito-item">
          <strong>Pergunta:</strong> {{ enunciado }}<br>
          <strong>Sua resposta:</strong> {{ resposta_marcada }}<br>
          <strong>Resposta correta:</strong> {{ resposta_correta }}<br>
          {% if correta %}
            <span class="texto-acerto">✔️ Acertou</span>
          {% else %}
            <span class="texto-erro">❌ Errou</span>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/gabarito.js') }}"></script>

    <button><a href="{{ url_for('index_aluno') }}">Voltar</a></button>

    <button onclick="window.location.href='{{ url_for('quiz') }}?nivel_id={{ 'variada' if nivel_descricao=='Variada' else nivel_descricao }}'">
        Refazer este Quiz
    </button>

    <button><a href="{{ url_for('index_aluno') }}">Fazer Novo Quiz</a></button>
</body>
</html>
