<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
</head>
<body>
    <h1>Redefinir Senha</h1>
    <form action="{{ url_for('redefinir_senha', token=token) }}" method="POST">
        <label for="nova_senha">Digite sua nova senha:</label><br>
        <input type="password" id="nova_senha" name="nova_senha" required><br><br>
        <button type="submit">Redefinir</button>
    </form>
    <p><a href="{{ url_for('login') }}">Voltar para o Login</a></p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</body>
</html>
