<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastro - Eduquiz</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style-register.css') }}" />
</head>
<body>
 <div class="container">

    <div class="form-section">
      <h1>
        <img src="static/img/beca2.png" class="cadastro-logo" alt="Logo" />
        Cadastro
      </h1>

      <div class="flash-messages">
        <!-- Mensagens flash inseridas dinamicamente -->
      </div>

      <form method="POST" action="/register">
        <input type="text" name="nome" placeholder="Nome" required />
        <input type="email" name="email" placeholder="Email" required />

        <div class="password-container">
          <input type="password" id="password" name="senha" placeholder="Senha" required />
          <span id="toggle-password" class="show-password" title="Mostrar/ocultar senha">
            <img src="static/img/eye-closed.png" id="eye-icon" alt="Olho Branco Aberto" />
          </span>
        </div>

        <select name="tipo" required>
          <option value="" disabled selected>Tipo de usuário</option>
          <option value="aluno">Aluno</option>
          <option value="professor">Professor</option>
        </select>

        <button type="submit">Registrar</button>
        <p>Já tem cadastro?<a href="/">Voltar</a></p>
      </form>
    </div>

    <div class="info-section">
      <div class="home-icon"><img src="static/img/casa.png" alt="Home"></div>
      <img src="static/img/logo2.png" alt="EDUQUIZ Logo" class="eduquiz-logo" />
      <p><strong>Dê o primeiro passo no seu aprendizado.</strong><br />Conecte-se e aprenda no seu ritmo!</p>
      <img src="static/img/seta.png" alt="Seta" class="arrow-img" />
      <span class="page-number">4</span>
    </div>
  </div>

  <script src="{{ url_for('static', filename='register.js') }}"></script>
</body>
</html>
